.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

* {
	box-sizing: border-box;
}

body {
	background-color: #228B22;
}

img {
	height: auto;
}

/*////////////////////////////////
Header
////////////////////////////////*/

.head {
	background-color: #151;
	text-align: center;
	color: white;
	padding: 20px 0;
}

.headpic {
	background-image: url('../images/dsphiseal.png');
	background-size: cover;
	background-position: center;
	display: inline-block;
	height: 125px;
	width: 125px;

}

.title {
	margin: 0;
}

.subtitle {
	margin: 0;
}

nav {
	background-color: #151;
}

.menu {
	padding: 0;
	margin: 0;
}

.menu .menu-item {
	float: left;
	width: 16.66%;
	text-align: center;
	padding: 10px 0;
	position: relative;
	border: black 1px solid;
}

nav .menu .menu-item:hover {
	background-color: #ccc;
}

nav .menu .menu-item:hover .subMenu {
	display: block;
}

.navLink {
	text-decoration: none;
	color: white;
	font-size: 18px;	
}

.subMenu{
	padding: 0;
	display: none;
	position: absolute;
	background-color: #ccc;
	top: 25px;
	left: 6px;
	padding: 0 20px;
}

.subLink {
	text-decoration: none;
	color: white;
}

.subMenu li {
	padding: 2px;
}

.subMenu li:hover {
	background-color: #C6E7CE;
}

h2 {
	text-align: center;
	padding: 20px 0 20px 0px;
}

h3 {
	margin-bottom: 0;
	padding: 10px;
}

span {
	padding-left: 50px;
	font-size: 20px;
}

/*////////////////////////////////
index layout
////////////////////////////////*/

.column1 {
	float: left;
	width: 75%;
	border-right: black solid 1px ;
	margin-top: 20px;
}

.column2 {
	float: left;
	width: 25%;
}

div section article img {
	max-width: 100%;
}

article p {
	text-align: center;
}

.summary {
	margin: 20px 20px 0 0;
}

.summary p {
	font-size: 20px;
}

.charter {
	margin: 20px 20px 0 0;
}

.newPledgeClass {
	margin: 20px 20px 0 0;
}

.lastPledgeClass {
	margin: 20px 20px 0 0;
}

.column1 article img {
	margin-top: 20px;

}
.fixed {
	position: fixed;   
    top: 20px;  
    margin-left: 720px;
    background-color: #0f0; }
}

.column2 p {
	text-align: center;
	padding: 10px;
}

.column2 a {
	text-decoration: none;
	padding-left: 120px;
	color: black;
}

/*////////////////////////////////
brother of the month layout
////////////////////////////////*/

.brotherSpot .clearfix {
	margin-left: 20px;
}

.clearfix .bomPic {
	float: left;
	max-width: 30%;
	padding: 20px;
}

.febbomText,.janbomText,.marbomText {
	float: right;
	max-width: 60%;
	text-align: center;
	padding-right: 20px;
	margin-top: 30px;
}

/*////////////////////////////////
events
////////////////////////////////*/
.event img {
	padding-left: 20px;
	margin: auto;

}

.event p {
	width: 60%;
	margin: auto;
}

.event h3 {
	text-align: center;
	margin: auto;
}
/*////////////////////////////////
causes
////////////////////////////////*/
.causes{
	padding-left: 20px;
	margin: auto;
	float: left;
	width: 30%;
	padding-bottom: 10px;
}

.causesText {
	width: 60%;
	padding-left: 20px;
	float: left;
}

.hra img {
	padding-left: 20px;
	margin: auto;
}


/*////////////////////////////////
eboard
////////////////////////////////*/

.eboardName {
	font-weight: bold;
	text-align: center;
}

.eboardSum {
	list-style: none;
	text-align: center;
	padding: 0;
}

#president {
	float: left;
	width: 33%;
}

#vp {
	float: left;
	width: 33%;
}

#vpMem {
	float: left;
	width: 33%;
}

#secretary {
	float: left;
	width: 25%;
}

#treasurer {
	float: left;
	width: 25%;
}

#saa {
	float: left;
	width: 25%;
}

#vpRush {
	float: left;
	width: 25%;
}

.headshot {
	height: 300px;
	width: 200px;
	/*padding-left: 150px;*/
	display: block;
	margin: auto;
	border-radius: 10px;
}

/*////////////////////////////////
Chairmen
////////////////////////////////*/

.chairs1 {
	float: left;
	width: 20%;
}

.chairs2 {
	float: left;
	width: 20%;
}

.chairs3 {
	float: left;
	width: 20%;
}

.chairs4 {
	float: left;
	width: 20%;
}

.chairs5 {
	float: left;
	width: 20%;
}

.chairSum {
	list-style: none;
	text-align: center;
	padding: 0;
}

.headshotChair {
	height: 300px;
	width: 200px;
	/*padding-left: 100px;*/
	display: block;
	margin: auto;
	border-radius: 10px;
}

/*////////////////////////////////
Members
////////////////////////////////*/

.members1 {
	float: left;
	width: 20%;
}

.members2 {
	float: left;
	width: 20%;
}

.members3 {
	float: left;
	width: 20%;
}

.members4 {
	float: left;
	width: 20%;
}

.members5 {
	float: left;
	width: 20%;
}

.memSum {
	list-style: none;
	text-align: center;
	padding: 0;
}

/*////////////////////////////////
New Members
////////////////////////////////*/

.nm1 {
	float: left;
	width: 20%;
}

.nm2 {
	float: left;
	width: 20%;
}

.nm3 {
	float: left;
	width: 20%;
}

.nm4 {
	float: left;
	width: 20%;
}

.nm5 {
	float: left;
	width: 20%;
}

.nmSum {
	list-style: none;
	text-align: center;
	padding: 0;
}

.tba {
	text-align: center;
}

/*////////////////////////////////
ACB
////////////////////////////////*/

.acb1 {
	float: left;
	width: 20%;
}

.acb2 {
	float: left;
	width: 20%;
}

.acb3 {
	float: left;
	width: 20%;
}

.acb4 {
	float: left;
	width: 20%;
}

.acb5 {
	float: left;
	width: 20%;
}

.acbSum {
	list-style: none;
	text-align: center;
	padding: 0;
}

/*////////////////////////////////
FAQs Layout
////////////////////////////////*/
.faq {
	float: left;
	width: 60%;
}

.form {
	float: left;
	width: 40%;
}

#output {
	position: absolute;
	text-align: center;
	color: #ff0000;
	background-color: rgba(0, 0, 0, .7);
	top: 500px;
	width: 60%;
	margin-left: 200px;
}

#output a {
	text-decoration: none;
	color: white;
}

.faq h2 {
	margin-bottom: 0;
}

.faq h5 {
	padding-left: 20px;
	margin: 0;
}

.faq p {
	padding-left: 10px;
}

/*////////////////////////////////
General Layout
////////////////////////////////*/

.break {
	border-top: black solid 1px;
}

.hide {
	display: none;
}

.container {
	max-width: 1150px;
	margin: auto;
	background-color: #f0efef;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

h1 {
	margin-top: 0;
	padding-top: 20px;
}

.top-a {
	text-decoration: none;
	color: black;
	margin-left: 20px;
	font-size: 20px;
}

.container h1 {
	padding-left: 20px;
}

article >> p {
	max-width: 60%;
	margin: auto;
}


/*////////////////////////////////
footer
////////////////////////////////*/

footer {
	border-top: black solid 1px;
	padding-top: 20px;
	background-color: #A9A;
	margin-bottom: 0;
}

.socialMedia img {
	height: 40px;
	width: 40px;
	padding: 0 5px;
}
